:root {
    --footer-bg: #001dc0;
    --footer-btn: rgba(244, 170, 11, 1);
    --cards: rgba(255, 255, 255, 0.75);
  }

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

/* ======Hero Section====== */

.main-hero {
    background-image: url(../images/people.jpg);
    background-size: cover;
    background-position: center top;
    background-color: rgba(0, 29, 192, 0.2);
    background-repeat: no-repeat;
    height: 499px;
}

.hero-overlay{
    height: 499px;
    background-color: rgba(0, 29, 192, 0.2);
}

.hero-div {
    width: 449px;
    height: 290px;
    position: absolute;
    top: 80px;
    left: 172px;
    bottom: 0;
    background-color: var(--cards);
    border-radius: 12px;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.hero-div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    margin: 15px 40px 12px 40px ;
}

.hero-div p{
    font-family: 'Open Sans', sans-serif;
    margin: 18px 27px 12px 27px 
}

.hero-div a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--footer-btn);
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    float: right;
    margin: 10px 30px 0 0;
}

.hero-div a:hover{
    background-color: var(--footer-bg);
    color: var(--footer-btn);
}

/* =======impact section====== */

.impact h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-left: 130px;
    margin-top: 50px;

}

.impact-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 90px 20px 90px;
}

.impact-min-div  {
    width: 320px;
}

.impact-min-div img{
    width: 306px;
    height: 238px;
    border-radius: 12px;
}

.impact-min-div p{
    margin-top: 10px;
    padding-right: 5px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.impact a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1.25px;
    color: var(--footer-btn);
    float: right;
    margin-right: 150px;
    margin-bottom: 70px;
}

.impact a:hover{
    cursor: pointer;
    color: var(--footer-bg);
}

/* ======Our Features section======= */

.our-features{
    margin: 100px 0;
    background-image: url(../images/workers.jpg);
    background-size: cover;
    width: 100%;
    height: 550px;
}

.feature-overlay {
    width: 100%;
    height: 550px;
    background-color: rgba(102, 111, 168, 0.35);
}

.feature-overlay h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 0.25px;
    position:relative;
    top:6rem;
    margin-top:8%;
}

.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10rem;
}

.feature-div {
    width: 370px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 9px 12px 1px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    transition: all 1s;
}

.feature-div:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.feature-div img{
    margin-left: 46%;
    margin-top: 2.5em;
}

.feature-div h3{
    text-align: center;
    margin: 0.7em 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15px
}

.feature-div p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5;
    padding: 0 18px;
}

.feature-div:first-child{
    margin-left: 40px;
}

.feature-div:last-child{
    margin-right: 40px;
}

/* =====Testimonial section===== */

.testimonial{
    margin-bottom: 80px;
}

.testimonial h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 0.5;
    margin: 0 500px;
    margin-bottom: 20px;
}

.testimonial > p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5;
    margin: 0 270px;
    margin-bottom: 50px;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.testimonial-container-div{
    background-color: rgba(255, 255, 255, 1);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 449px;
    box-shadow: 0px 9px 12px 1px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    transition: all 1s;
}

.testimonial-container-div:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.testimonial-container-div:first-child{
    margin-right: 70px;
}

.testimonial-container-div img{
    margin: 30px 0 14px 0;

}

.testimonial-container-div p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5;
    margin: 0 50px 15px 50px;
}

.testimonial-container-div h5 + p{
    margin-bottom: 40px;
}


/* ======Volunteer section====== */

.Volunteer{
    background-color: rgba(244, 170, 11, 1);
    height: 376px;
}

.Volunteer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Volunteer-D-child{
    margin: 60px 0 0 0;
}

.Volunteer-D-child img{
    width: 360px;
    height: 278px;
}
.Volunteer-D-child h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5;
    margin-bottom: 25px;
}

.Volunteer-D-child:first-child{
    margin-right: 20px;
}

form {
    width: 370px;
}
.double {
    display: flex;
    align-items: center;
    justify-content: center;
}

.double #fff{
    margin-right: 10px;
}

.double #ggg{
    margin-left: 10px;
}

.constant {
    margin-bottom: 8px;
    padding-bottom: 15px;
    position: relative;
} 

 .constant label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: rgba(19, 21, 21, 1);
}

.constant input {
    background-color: rgba(244, 170, 11, 1);
    border: 1px solid rgba(140, 142, 142, 1);
    border-radius: 5px;
    display: block;
    padding: 8px;
    width: 100%;
    outline: none;
}

.constant.success input {
    border-color: #2ecc71;
}

.error input {
    border-color: #e74e3c;
}


.constant small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
} 

.constant.error small {
    color: #e74e3c;
    visibility: visible;
    font-family: inherit;
    font-size: 10px;
}

form .btn {
    background-color: rgba(11, 85, 244, 1);
    color: rgba(255, 255, 255, 1);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0 25px  0;
    transition: all 1s;
} 

form .btn:hover{
    cursor: pointer;
    color: var(--footer-btn);
    transform: scale(1.1);
}

  /* =======TABLET=VIEW====== */

  @media only screen and (max-width: 768px) {
    
    /* ======Hero Section====== */

    .main-hero{
        background-size: 100% 100%;
        height: 420px;
    }

    .hero-overlay{
        height: 420px;
    }

    .hero-div{
        width: 400px;
        height: 270px;
        top: 50px;
        left: 70px;
    }

    .hero-div h1{
        font-size: 28px;
        margin-bottom: 8px;
    }

    .hero-div p {
        font-size: 14px;
        margin: 18px 35px 12px 35px 
    }

    .hero-div a {
        width: 80px;
        font-size: 10px;
        margin-top: 7px;
    }

    /* =======impact section====== */

    .impact h2{
        font-size: 28px;
        margin-left: 45px;
    }

    .impact-div{
        margin: 30px 30px 20px 45px;
    }

    .impact-min-div  {
        width: 220px;
    }

    .impact-min-div img{
        width: 216px;
        height: 138px;
    }
    
    .impact-min-div p{
        font-size: 14px;
    }

    .impact a{
        margin-right: 55px;
    }

    /* ======Our Features section======= */

    .our-features{
        background-image: url(../images/business-team-success.jpg);
        height: 389px;
    }

    .feature-overlay{
        height: 389px;
        
    }

    .feature-overlay h2{
        font-size: 26px;
        top: 3rem;
        left: 2em;
        margin-top:6%;
    }

    .feature-container{
        margin-top:6rem;
    }

    .feature-div{
        width: 300px;
        height: 177px;
        margin: 5px;
    }

    .feature-div:first-child{
        margin-left: 25px;
    }
    
    .feature-div:last-child{
        margin-right: 25px;
    }

    .feature-div img{
        margin-top: 1.5em;
    }

    .feature-div h3{
        font-size: 18px;
        margin: 0.7em 0 0.4em 0;
    }

    .feature-div p{
        font-size: 13px;
    }

    #special {
        padding: 0 10px;
    }


    /* =====Testimonial section===== */

    .testimonial h2{
        margin: 0 200px;
        font-size: 28px;
        margin-bottom: 30px;
    }

    .testimonial > p{
        font-size: 14px;
        margin: 0 50px;
        margin-bottom: 50px;
    }

    .testimonial-container-div:first-child{
        margin-right: 20px;
    }

    .testimonial-container-div p{
        font-size: 13px;
        margin: 0 10px 15px 10px;
    }

    /* ======Volunteer section====== */

    .Volunteer-D-child img{
        width: 350px;
        height: 268px;
    }

    .Volunteer-D-child:first-child{
        margin-right: 10px;
    }

    .Volunteer-D-child:last-child{
        margin-right: 10px;
    }

    form {
        width: 300px;
    }
  }
    
  
  /* ============MOBILE==VIEW=========== */

  @media only screen and (max-width: 428px) {
    
    /* ======Hero Section====== */
    .main-hero {
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
        height: 499px;
    }
    .hero-overlay{
        height: 499px;
        background-color: rgba(0, 29, 192, 0.2);
    }
    .hero-div {
        width: 260px;
        height: 340px;
        position: absolute;
        top: 80px;
        left: 70px;
        bottom: 0;
    }
    .hero-div p{
        width:220px;
    }
    /* =======impact section====== */
    .impact-div{
        display: block;
        justify-content: space-around;
        align-items: center;
        margin: 20px 50px 20px 50px;
    }
    
    .impact-min-div  {
        width: 320px;
    }
    
    .impact-min-div img{
        width: 300px;
        height: 238px;
        border-radius: 12px;
    }
    
    .impact-min-div p{
        margin-top: 15px;
        margin-bottom:15px;
    }
    /* ======Our Features section======= */
    .feature-container{
        display: block;
        justify-content: space-around;
        margin-top:5rem;
        margin-left: 40px;
        }
    .our-features{
        margin: 100px 0;
        background-size:cover;
        background-position: center;
        width: 100%;
        height: 750px;
    }
    
    .feature-overlay {
        width: 100%;
        height: 750px;
    }
    .feature-div:first-child{
        margin-left: 8px;
    }
    .feature-div {
        margin-bottom:20px;
        width:92%;
        padding:10px;
        margin-right:20px;
    }
     .feature-div p{
        width:290px;
     }  
    
    /* =====Testimonial section===== */
    .testimonial h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        letter-spacing: 0.5;
        width:300px;
        margin: 0 68px;
        margin-bottom: 20px;
    }
    
    .testimonial > p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        letter-spacing: 0.5;
        margin: 0 68px;
        margin-bottom: 20px;
    }
    
    .testimonial-container{
        display:block;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .testimonial-container-div{
        width:358px;
        margin-bottom:20px;
    }
    
    /* ======Volunteer section====== */
    .Volunteer{
        height:60%;
    }
    .Volunteer-container {
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .Volunteer-D-child{
        margin: 60px 0 0 0;
    }
    
    .Volunteer-D-child img{
        width: 360px;
        height: 278px;
        margin-left:20px;
        margin-top:35px;
    }
    #form{
        margin-left:20px;
    }
    
    form {
        width: 370px;
    }
   
    .constant small{
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
    } 

}